body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #40514E
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 2;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr{
  width: 10%;
  border: dotted #dfdfdf 6px;
  border-bottom: none;
  margin: 100px auto 100px auto;
}
.h1-me{
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 2;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 10px;
}

.middle-container {
  padding-top: 50px;
  background-color: #ecfafb;
  position: relative;
  padding-bottom: 10px;
}

.bottom-container {
  padding-top: 10px;
  background-color: #66BFBF;
  position: relative;
  padding-bottom: 10px;
}

.span {
  text-decoration: underline;
}



.profile-row{
  margin: 100px auto 100px auto;
  width: 900px;
  line-height: 2;
  text-align: left;
}

.skill-row{
  width: 700px;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.hobby-row{
  width: 700px;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  width: 100px;
  height: 50px;
  right: 200px;
  top: 50px;
}

.top-cloud {
  position: absolute;
  width: 100px;
  height: 50px;
  left: 200px;
  bottom: 300px;
}
.mountain{
    height: 300px;
    width: 80%;
}

.profile-image{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-image1{
  width: 25%;
  float: left;
  margin-right: 30px;

}

.skill-image2{
  width: 40%;
  float: right;
  margin-left: 30px;
  margin-bottom: 40px;
}

.hobby-image{
  width: 45%;
  float: left;
  margin-right: 30px;
}

.hobby-description{
  width: 45%;
  margin-right: 10px;
  display: inline-block;
}


.contact-address{
  width: 700px;
  display: inline-block;

  margin: 40px auto 60px auto;
}
.contact-email{
  width: 700px;
  display: inline-block;

   margin: 40px auto 60px auto;
}

.btn {
  background: #37d1d6;
  background-image: -webkit-linear-gradient(top, #37d1d6, #15d0d6);
  background-image: -moz-linear-gradient(top, #37d1d6, #15d0d6);
  background-image: -ms-linear-gradient(top, #37d1d6, #15d0d6);
  background-image: -o-linear-gradient(top, #37d1d6, #15d0d6);
  background-image: linear-gradient(to bottom, #37d1d6, #15d0d6);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #303e3cb;
  background-image: -webkit-linear-gradient(top, #303e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #303e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #303e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #303e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #303e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link{
  color: #0d0cb5;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
